
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
            
            <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Canvas Documentation</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-primary">
                      <tr>
                        <th>
                          Feature
                        </th>
                        <th>
                          Method
                        </th>
                        <th>
                        Description
                        </th>
                        <th>
                          Parameter
                        </th>
                        <th>
                          Status
                        </th>
                        <th class="text-center">
                          Action
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                    	
                      
                      <tr>
                        <td>
                          Welcomer 1
                        </td>
                        <td class="text-center">
                          POST
                        </td>
                        <td>
                        	Welcome 1
                        </td>
                        <td class="text-center">
                          pp, nama, bg, gc, member, apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/bot/welkom2?pp=https://i.ibb.co/cyM9YyH/logoku.jpg&nama=Raku&bg=https://telegra.ph/file/e095868232316fb2a937e.jpg&gc=zerobot&member=200&apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Goodbye 1
                        </td>
                        <td class="text-center">
                          POST
                        </td>
                        <td>
                        	Goodbye 1
                        	</td>
                        <td class="text-center">
                          pp, nama, bg, gc, member, apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/bot/goodbye2?pp=https://i.ibb.co/cyM9YyH/logoku.jpg&nama=Raku&bg=https://telegra.ph/file/e095868232316fb2a937e.jpg&member=200&apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>                       
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Welcomer 2
                        </td>
                        <td class="text-center">
                          POST
                        </td>
                        <td>
                        	Welcome 2
                        	</td>
                        <td class="text-center">
                          nama, gc, ppgc, member, pp, bg, apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/bot/welkom?nama=Raku&gc=zerobot&ppgc=https://i.ibb.co/cyM9YyH/logoku.jpg&member=200&pp=https://i.ibb.co/cyM9YyH/logoku.jpg&bg=https://telegra.ph/file/e095868232316fb2a937e.jpg&apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Goodbye 2
                        </td>
                        <td class="text-center">
                          POST
                        </td>
                        <td>
                        	Goodbye 2
                        	</td>
                        <td class="text-center">
                          nama, gc, ppgc, member, pp, bg, apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/bot/goodbye?nama=Raku&gc=zerobot&ppgc=https://i.ibb.co/cyM9YyH/logoku.jpg&member=200&pp=https://i.ibb.co/cyM9YyH/logoku.jpg&bg=https://telegra.ph/file/e095868232316fb2a937e.jpg&apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                     <tr>
                        <td>
                          Welcome 3
                        </td>
                        <td class="text-center">
                          POST
                        </td>
                        <td>
                        	Welcome 3
                        	</td>
                        <td class="text-center">
                          nama, pp, apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/bot/welkom3?nama=Raku&pp=https://i.ibb.co/cyM9YyH/logoku.jpg&apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>

                      <tr>
                        <td>
                          Goodbye 3
                        </td>
                        <td class="text-center">
                          POST
                        </td>
                        <td>
                        	Goodbye 3
                        	</td>
                        <td class="text-center">
                          nama, pp, apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/bot/goodbye3?nama=Raku&pp=https://i.ibb.co/cyM9YyH/logoku.jpg&apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>

                      <tr>
                        <td>
                          Rank
                        </td>
                        <td class="text-center">
                          POST
                        </td>
                        <td>
                        	Rank
                        	</td>
                        <td class="text-center">
                          pp, nama, bg, needxp, currxp, level, rank, apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/bot/rank?pp=https://i.ibb.co/cyM9YyH/logoku.jpg&nama=Raku&bg=https://telegra.ph/file/e095868232316fb2a937e.jpg&needxp=20&currxp=25&level=30&apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Bag
                        </td>
                        <td class="text-center">
                          POST
                        </td>
                        <td>
                        	Bag
                        	</td>
                        <td class="text-center">
                          bg, stone, coal, wood, core, iore, gore, cingot, iingot, gingot, diamond, ruby, uranium, jadite, leather, meat, fish, apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Maintenance</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/bot/bag?bg=https://telegra.ph/file/6d94aacbfab6b5a8d45ad.png&stone=20&coal=20&wood=20&core=20&iore=20&gore=20&cingot=20&iingot=20&gingot=20&diamond=20&ruby=20&uranium=20&jadite=20&leather=20&meat=20&fish=20&apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Levelup
                        </td>
                        <td class="text-center">
                          POST
                        </td>
                        <td>
                        	Levelup
                        	</td>
                        <td class="text-center">
                          pp, apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/bot/levelup?pp=https://i.ibb.co/cyM9YyH/logoku.jpg&apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Spongebob
                        </td>
                        <td class="text-center">
                          POST
                        </td>
                        <td>
                        	Spongebob Meme
                        	</td>
                        <td class="text-center">
                          pp, apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/bot/sponbob?pp=https://telegra.ph/file/6d94aacbfab6b5a8d45ad.png&apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          GFX 1
                        </td>
                        <td class="text-center">
                          POST
                        </td>
                        <td>
                        	GFX 1
                        	</td>
                        <td class="text-center">
                          nama, apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/bot/gfx1?nama=Raku&apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          GFX 2
                        </td>
                        <td class="text-center">
                          POST
                        </td>
                        <td>
                        	GFX 2
                        	</td>
                        <td class="text-center">
                          nama, apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/bot/gfx2?nama=Raku&apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          GFX 3
                        </td>
                        <td class="text-center">
                          POST
                        </td>
                        <td>
                        	GFX 3
                        	</td>
                        <td class="text-center">
                          text1, text2, apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/bot/gfx3?text1=Raku&text2=Web&apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>

                      
                      <tr>
                        <td>
                          GFX 4
                        </td>
                        <td class="text-center">
                          POST
                        </td>
                        <td>
                        	GFX 4
                        	</td>
                        <td class="text-center">
                          text1, text2, apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/bot/gfx4?text1=Raku&text2=Web&apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      
                      <tr>
                        <td>
                          GFX 5
                        </td>
                        <td class="text-center">
                          POST
                        </td>
                        <td>
                        	GFX 5
                        	</td>
                        <td class="text-center">
                          text, apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Maintenance</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/bot/gfx5?text=Nathan&apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          GURA
                        </td>
                        <td class="text-center">
                          POST
                        </td>
                        <td>
                        	GURA
                        	</td>
                        <td class="text-center">
                          nama, apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/bot/gura?nama=Gura&apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
            
          </div>
        </div>
     
        
          </div>
   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<script>
    swal('Canvas API', Powered By Raku', 'info')
</script>
