
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
            
            <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Image Editor Documentation</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-primary">
                      <tr>
                        <th>
                          Feature
                        </th>
                        <th>
                          Method
                        </th>
                        <th>
                        Description
                        </th>
                        <th>
                          Parameter
                        </th>
                        <th>
                        	Status
                        </th>
                        <th class="text-center">
                          Action
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                    	
                      
                      <tr>
                        <td>
                          Trigger
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Trigger Maker
                        </td>
                        <td class="text-center">
                          apikey, url
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/trigger?apikey=<%= apikey %>&url=https://i.ibb.co/dPDYP5k/e25735b17a39.png" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Passed
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Passed Maker
                        	</td>
                        <td class="text-center">
                          apikey, url
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href=/api/passed?apikey=<%= apikey %>&url=https://i.ibb.co/dPDYP5k/e25735b17a39.png" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>                       
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Wasted
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Wasted Maker
                        	</td>
                        <td class="text-center">
                          apikey, url
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/wasted?apikey=<%= apikey %>&url=https://i.ibb.co/dPDYP5k/e25735b17a39.png" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Serti FF
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Serti FF Maker
                        	</td>
                        <td class="text-center">
                          apikey, text
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/serti/sertiepep?apikey=<%= apikey %>&text=Burik" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Sticker Meme
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Sticker Meme Maker
                        	</td>
                        <td class="text-center">
                          apikey, text1, text2, url
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/meme?apikey=<%= apikey %>&text=Subscribe&text2=Kalo Gak Jago&url=https://i.ibb.co/dPDYP5k/e25735b17a39.png" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                         Fisheye
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Fisheye Maker
                        	</td>
                        <td class="text-center">
                          apikey, url
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/fisheye?apikey=<%= apikey %>&url=https://i.ibb.co/WyvDRgy/20210422-044002.jpg" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                         Scary GIF
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Scary GIF Maker
                        	</td>
                        <td class="text-center">
                          apikey, url
                        </td>
                        <td>
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/scary?apikey=<%= apikey %>&url=https://i.ibb.co/WyvDRgy/20210422-044002.jpg" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                         Petir
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Petir Maker
                        	</td>
                        <td class="text-center">
                          apikey, url
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/petir?apikey=<%= apikey %>&url=https://i.ibb.co/WyvDRgy/20210422-044002.jpg" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
            
          </div>
        </div>
     
        
          </div>
   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
