
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
            
            <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Islamic Documentation</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-primary">
                      <tr>
                        <th>
                          Feature
                        </th>
                        <th>
                          Method
                        </th>
                        <th>
                        Description
                        </th>
                        <th>
                          Parameter
                        </th>
                        <th>
                        	Status
                        </th>
                        <th class="text-center">
                          Action
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                    	
                      
                      <tr>
                        <td>
                          Hadits Shahih
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Hadits Shahih
                        </td>
                        <td class="text-center">
                          kitab, nomor, apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/muslim/hadits?kitab=bukhari&nomor=52&apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Al Quran
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Al Quran
                        	</td>
                        <td class="text-center">
                          surah, ayat, apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/muslim/quran?surah=1&ayat=2&apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>                       
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Doa Tahlil
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Doa Tahlil
                        	</td>
                        <td class="text-center">
                          apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/muslim/tahlil?apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Doa Wirid
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Doa Wirid
                        	</td>
                        <td class="text-center">
                          apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/muslim/wirid?apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Asmaul Husna
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Asmaul Husna
                        	</td>
                        <td class="text-center">
                          apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/muslim/asmaulhusna?apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Doa Harian
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Doa Harian
                        	</td>
                        <td class="text-center">
                          apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/muslim/doaharian?apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Ayat Kursi
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Ayat Kursi
                        	</td>
                        <td class="text-center">
                          apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/muslim/ayatkursi?apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Kisah Nabi
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Kisah Nabi
                        	</td>
                        <td class="text-center">
                          nabi, apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/muslim/kisahnabi?nabi=muhammad&apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Niat Shalat
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Nuat Shalat
                        	</td>
                        <td class="text-center">
                          apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/muslim/niatshalat?apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Bacaan Shalat
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Bacaan Shalat
                        	</td>
                        <td class="text-center">
                          apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/muslim/bacaanshalat?apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Jadwal Shalat
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Jadwal Shalat
                        	</td>
                        <td class="text-center">
                          kota, apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/muslim/jadwalshalat?kota=sukoharjo&apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
            
          </div>
        </div>
     
        
          </div>
   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
