
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
            
            <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Image Maker Documentation</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-primary">
                      <tr>
                        <th>
                          Feature
                        </th>
                        <th>
                          Method
                        </th>
                        <th>
                        Description
                        </th>
                        <th>
                          Parameter
                        </th>
                        <th>
                        	Status
                        </th>
                        <th class="text-center">
                          Action
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                    	
                      
                      <tr>
                        <td>
                          ATTP
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	ATTP Maker
                        </td>
                        <td class="text-center">
                          apikey, text
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/maker/attp?apikey=<%= apikey %>&text=attp" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          TTP
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	TTP Maker
                        	</td>
                        <td class="text-center">
                          apikey, text
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href=/api/maker/ttp?apikey=<%= apikey %>&text=Raku" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>                       
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Emoji To PNG
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Emoji To PNG
                        	</td>
                        <td class="text-center">
                          apikey, text
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/maker/emoji2png?apikey=<%= apikey %>&text=😎" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          QRCode
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	QRcode Maker
                        	</td>
                        <td class="text-center">
                          apikey, text
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/maker/qrcode?apikey=<%= apikey %>&text=https://wa.me/6287834993722" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Barcode
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Barcode Maker
                        	</td>
                        <td class="text-center">
                          apikey, text
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/maker/barcode?apikey=<%= apikey %>&text=https://wa.me/6287834993722" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                         Transformer
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Transformer Maker
                        	</td>
                        <td class="text-center">
                          apikey, text
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/maker/transformer?apikey=<%= apikey %>&text=Raku Web" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                         Skatch
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Skatch Effect
                        	</td>
                        <td class="text-center">
                          apikey, url
                        </td>
                        <td>
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/maker/skatch?apikey=<%= apikey %>&url=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbmrYfgiRt1lLwNgRMgMbID62qH3EQ2T1c6RUJEQMcoCWKqVVxAg7R_LfM&s=10" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                         Tahta
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Harta Tahta Maker
                        	</td>
                        <td class="text-center">
                          apikey, text
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/maker/harta-tahta?apikey=<%= apikey %>&text=Website" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
            
          </div>
        </div>
     
        
          </div>
   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
