
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
            
            <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Photooxy Documentation</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-primary">
                      <tr>
                        <th>
                          Feature
                        </th>
                        <th>
                          Method
                        </th>
                        <th>
                        Description
                        </th>
                        <th>
                          Parameter
                        </th>
                        <th>
                        	Status
                        </th>
                        <th class="text-center">
                          Action
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                    	
                      
                      <tr>
                        <td>
                          Shadow Text
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Shadow Text Create
                        </td>
                        <td class="text-center">
                          apikey, text
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/photooxy/shadow?apikey=<%= apikey %>&text=Vxro" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Smoke Text
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Smoke Text Create
                        	</td>
                        <td class="text-center">
                          apikey, text
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/photooxy/smoke?apikey=<%= apikey %>&text=Vxro" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>                       
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Burn Paper Text
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Burn Paper Text Create
                        	</td>
                        <td class="text-center">
                          apikey, text
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/photooxy/burn-paper?apikey=<%= apikey %>&text=Vxro" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Naruto Text
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Naruto Text Create
                        	</td>
                        <td class="text-center">
                          apikey, text
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/photooxy/naruto?apikey=<%= apikey %>&text=Vxro" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Romantic Text
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Romantic Text Create
                        	</td>
                        <td class="text-center">
                          apikey, text
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/photooxy/romantic?apikey=<%= apikey %>&text=Vxro" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Love Message
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Love Message Create
                        	</td>
                        <td class="text-center">
                          apikey, text
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/photooxy/love-message?apikey=<%= apikey %>&text=Vxro" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Under Grass Text
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Message Under Grass
                        	</td>
                        <td class="text-center">
                          apikey, text
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/photooxy/message-under-grass?apikey=<%= apikey %>&text=Vxro" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Double Heart Text
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Double Heart Create
                        	</td>
                        <td class="text-center">
                          apikey, text
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/photooxy/double-heart?apikey=<%= apikey %>&text=Vxro" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Glitch Text
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Glitch Text Create
                        	</td>
                        <td class="text-center">
                          apikey, text1, text2
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/photooxy/glitch?apikey=<%= apikey %>&text1=Vxro&text2=Rest API" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Coffee Cup Text
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Coffee Cup Create
                        	</td>
                        <td class="text-center">
                          apikey, text
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/photooxy/coffe-cup?apikey=<%= apikey %>&text=Vxro" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Love Text 
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Love Text Create
                        	</td>
                        <td class="text-center">
                          apikey, text
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/photooxy/love-text?apikey=<%= apikey %>&text=Vxro" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>

                      
                      <tr>
                        <td>
                          Butterfly Text
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Butterfly Text Create
                        	</td>
                        <td class="text-center">
                          apikey, text
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/photooxy/butterfly?apikey=<%= apikey %>&text=Vxro" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
            
          </div>
        </div>
     
        
          </div>
   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
