
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
            
            <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Random Documentation</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-primary">
                      <tr>
                        <th>
                          Feature
                        </th>
                        <th>
                          Method
                        </th>
                        <th>
                        Description
                        </th>
                        <th>
                          Parameter
                        </th>
                        <th>
                        	Status
                        </th>
                        <th class="text-center">
                          Action
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                    	
                      
                      <tr>
                        <td>
                          Bucin
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Random Kata Bucin
                        </td>
                        <td class="text-center">
                          apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/bucin?apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Pantun
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Random Pantun
                        	</td>
                        <td class="text-center">
                          apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/random/pantun?apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>                       
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Dark Jokes
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Random Dark Jokes
                        	</td>
                        <td class="text-center">
                          apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/darkjokes?apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>                       
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Cerpen
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Random Cerpen
                        	</td>
                        <td class="text-center">
                          apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/cerpen?apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Cersex
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Random Cersex
                        	</td>
                        <td class="text-center">
                          apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/cersex?apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Quotes
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Random Quotes
                        	</td>
                        <td class="text-center">
                          apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/random/quotes?apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                         Quotes Muslim
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Random Quotes Muslim
                        	</td>
                        <td class="text-center">
                          apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/random/quotes/muslim?apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                         Quotes Kanye
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Random Quotes Kanye
                        	</td>
                        <td class="text-center">
                          apikey
                        </td>
                        <td>
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/random/quotes/kanye?apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                         Meme
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Random Meme
                        	</td>
                        <td class="text-center">
                          apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/random/meme?apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      
                       <tr>
                        <td>
                         Wallpaper
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Random Wallpaper
                        	</td>
                        <td class="text-center">
                          apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/random/wallpaper?apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
            
          </div>
        </div>
     
        
          </div>
   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
