
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
            
            <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Text Pro Documentation</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-primary">
                      <tr>
                        <th>
                          Feature
                        </th>
                        <th>
                          Method
                        </th>
                        <th>
                        Description
                        </th>
                        <th>
                          Parameter
                        </th>
                        <th>
                        	Status
                        </th>
                        <th class="text-center">
                          Action
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                    	
                      
                      <tr>
                        <td>
                          Natural Leaves
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Natural Leaves Image
                        </td>
                        <td class="text-center">
                          apikey, text
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/textpro/natural-leaves?apikey=<%= apikey %>&text=Vxro" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Black Pick
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Black Pink Image
                        	</td>
                        <td class="text-center">
                          apikey, text
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/textpro/black-pink?apikey=<%= apikey %>&text=Vxro" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>                       
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Drop Water
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Drop Water Image
                        	</td>
                        <td class="text-center">
                          apikey, text
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/textpro/drop-water?apikey=<%= apikey %>&text=Vxro" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Wolf Logo
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Wolf Logo Maker
                        	</td>
                        <td class="text-center">
                          apikey, text1, text2
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/textpro/logo-wolf?apikey=<%= apikey %>&text=Vxro&text2=Web" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Wolf Logo 2
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Wolf Logo 2 Maker
                        	</td>
                        <td class="text-center">
                          apikey, text1, text2
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/textpro/logo-wolf2?apikey=<%= apikey %>&text=Vxro&text2=Web" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                         Thunder
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Thunder Maker
                        	</td>
                        <td class="text-center">
                          apikey, text1, text2
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/textpro/thunder?apikey=<%= apikey %>&text=Vxro&text2=Web" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                         Matrix
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Matrix Maker
                        	</td>
                        <td class="text-center">
                          apikey, text1, text2
                        </td>
                        <td>
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/textpro/matrix?apikey=<%= apikey %>&text=Vxro&text2=Web" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                         Firework
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Firework Maker
                        	</td>
                        <td class="text-center">
                          apikey, text1, text2
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/textpro/firework?apikey=<%= apikey %>&text=Vxro&text2=Gans" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      
                       <tr>
                        <td>
                         Christmas
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Christmas Maker
                        	</td>
                        <td class="text-center">
                          apikey, text
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/textpro/christmas?apikey=<%= apikey %>&text=Website" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      
                       <tr>
                        <td>
                         Gradient
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Gradient Maker
                        	</td>
                        <td class="text-center">
                          apikey, text
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/textpro/3d-gradient?apikey=<%= apikey %>&text=Vxro" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      
                      <tr>
                        <td>
                         Pornhub
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Pornhub Maker
                        	</td>
                        <td class="text-center">
                          apikey, text1, text2
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/textpro/porn-hub?apikey=<%= apikey %>&text1=Vxro&text2=Web" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
            
          </div>
        </div>
     
        
          </div>
   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
