
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
            
            <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Random Image Documentation</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-primary">
                      <tr>
                        <th>
                          Feature
                        </th>
                        <th>
                          Method
                        </th>
                        <th>
                        Description
                        </th>
                        <th>
                          Parameter
                        </th>
                        <th>
                        	Status
                        </th>
                        <th class="text-center">
                          Action
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                    	
                      
                      <tr>
                        <td>
                          Images Search
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Random Images Search
                        </td>
                        <td class="text-center">
                          apikey, query
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/search/image?apikey=<%= apikey %>&query=Wallpaper keren" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Wallpaper Technology
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Random Wallpaper Technology
                        	</td>
                        <td class="text-center">
                          apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href=/api/techno?apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>                       
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Wallpaper Programing
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Random Wallpaper Programing
                        	</td>
                        <td class="text-center">
                          apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/progam?apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Wallpaper CyberSpace
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Randon Wallpaper CyberSpace
                        	</td>
                        <td class="text-center">
                          apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/cyber?apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Wallpaper Muslim
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Random Wallpaper Muslim
                        	</td>
                        <td class="text-center">
                          apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/muslim?apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                         Wallpaper Mountain 
                        </td>
                        <td class="text-center">
                          GET
                        </td>
                        <td>
                        	Random Wallpaper Mountain
                        	</td>
                        <td class="text-center">
                          apikey
                        </td>
                        <td>      	
                        	<span class="badge badge-warning">Active</span>
                        	</td>
                        <td class="text-center">
                        	<a type="button" href="/api/gunung?apikey=<%= apikey %>" class="text-warning btn-sm btn-icon" rel="nofollow" target="_blank"><i class="tim-icons icon-triangle-right-17"></i></a>             
                        </td>
                      </tr>
                      
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
            
          </div>
        </div>
     
        
          </div>
   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
